In [11]:
import pandas as pd
import psycopg2

In [12]:
def peek_at_table(connection, table, n_rows=10, schema='public'):
    sql = '''
    select * from {schema}."{table}" limit {n_rows}
    '''.format(schema=schema, table=table, n_rows=n_rows)
    cursor = connection.cursor()
    cursor.execute(sql)
    rows = cursor.fetchall()
    columns = [d[0] for d in cursor.description]
    df = pd.DataFrame(rows, columns=columns)
    return df

def query_database(connection, sql):
    cursor = connection.cursor()
    cursor.execute(sql)
    rows = cursor.fetchall()
    columns = [d[0] for d in cursor.description]
    df = pd.DataFrame(rows, columns=columns)
    return df

In [18]:
uri = 'postgres://uqfj_721ud5nozr1:uwFbmJit8knol05xYr9ONCYTJzn3Yxxl@127.0.0.1:7080/rdsbroker_723069ee_da4e_4005_91bb_05ae87d4c572'
connection = psycopg2.connect(uri)

### export countries

In [14]:
sql = '''
select distinct
  company_id,
  country_id
  
from company_company_export_to_countries

order by 1

'''

df = query_database(connection, sql)
df.head()

                             company_id                            country_id
0  0fb3379c-341c-4da4-b825-bf8d47b26baa  82756b9a-5d95-e211-a939-e4115bead28a
1  0fb3379c-341c-4da4-b825-bf8d47b26baa  83756b9a-5d95-e211-a939-e4115bead28a
2  121f5d35-22bf-e311-a3d5-e4115bead28a  955f66a0-5d95-e211-a939-e4115bead28a
3  121f5d35-22bf-e311-a3d5-e4115bead28a  995f66a0-5d95-e211-a939-e4115bead28a
4  121f5d35-22bf-e311-a3d5-e4115bead28a  9f5f66a0-5d95-e211-a939-e4115bead28a

### countries of interest

In [15]:
sql = '''
with omis_countries_of_interest as (
    select distinct
      company_id,
      primary_market_id as country_id

    from order_order

), datahub_countries_of_interest as (
    select distinct
      company_id,
      country_id

    from company_company_future_interest_countries
    
), combined_countries_of_interest as (
  select * from omis_countries_of_interest
  
  union
  
  select * from datahub_countries_of_interest
  
)

select distinct
  company_id,
  country_id
  
from combined_countries_of_interest

order by 1
'''

df = query_database(connection, sql)
df.head()

                             company_id                            country_id
0  0f5216e0-849f-11e6-ae22-56b6b6499611  0550bdb8-5d95-e211-a939-e4115bead28a
1  0f5216e0-849f-11e6-ae22-56b6b6499611  1250bdb8-5d95-e211-a939-e4115bead28a
2  0f5216e0-849f-11e6-ae22-56b6b6499611  1450bdb8-5d95-e211-a939-e4115bead28a
3  0f5216e0-849f-11e6-ae22-56b6b6499611  1550bdb8-5d95-e211-a939-e4115bead28a
4  0f5216e0-849f-11e6-ae22-56b6b6499611  1950bdb8-5d95-e211-a939-e4115bead28a

### countries of interest and sectors

In [20]:
sql = '''
select distinct
  company_id,
  primary_market_id as country_id,
  sector_id

from order_order

order by 1
    
'''

df = query_database(connection, sql)
df.head()

,company_id,country_id,sector_id
0,0f5216e0-849f-11e6-ae22-56b6b6499611,1950bdb8-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a
1,0f5216e0-849f-11e6-ae22-56b6b6499611,1550bdb8-5d95-e211-a939-e4115bead28a,9838cecc-5f95-e211-a939-e4115bead28a
2,0f5216e0-849f-11e6-ae22-56b6b6499611,756a9ab2-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a
3,0f5216e0-849f-11e6-ae22-56b6b6499611,5361b8be-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a
4,0f5216e0-849f-11e6-ae22-56b6b6499611,e1f682ac-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a